<div class="container"><!--
    <div class="row search">
      <div class="col-md-12 mx-auto">
        <div class="md-form">
          <input type="text" [(ngModel)]="searchText" class="form-control" id="search" placeholder="Search" mdbInput>
        </div>
      </div>
    </div>
-->

<div class="input-group mb-3">
        <div class="input-group-prepend">
                <select class="custom-select" [(ngModel)] = "selectedValue" >
                        <option value="1" selected>LIKE</option>
                        <option value="2"><=</option>
                        <option value="3">>=</option>                  
                      </select>
        </div>
        <input type="text" [(ngModel)]="searchText" class="form-control" id="search" placeholder="Search" mdbInput>
        <button type="button" (click)="signOff()"  class="btn btn-danger">Cerrar Sesion</button>
      </div>
      
    <table mdbTable class="table" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">BookingId</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">Dirección</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of datagrids; let i = index">
              <th scope="row">{{item.bookingId}}</th>
              <td>{{item.firstName}} {{item.lastName}}</td>
              <td>{{item.bookingTime}}</td>
              <td>{{item.streetAddress}}</td>
              <td>{{item.bookingPrice}}</td>
            </tr>
          </tbody>
        </table>
  </div>